.input-field {
    position: sticky;
    top: 50px;
    z-index: 2;
    border-bottom: 3px solid #e4e4e4;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 0px 15px;
}

.input-wrapper {
    display: flex;
    align-items: center;
}

img {
    margin-right: 30px;
}

input {
    border: none;
    height: 20px;
    outline: none;
}

.tweet-additional {
    display: flex;
    padding-top: 30px;
}

.hidden{
    display: none;
}