.input-field{
    display: flex;
    align-items: center;
    border-bottom: 3px solid #e4e4e4;
    margin-bottom: 20px;
    padding: 0px 15px;
}

img{
    margin-right: 30px;
}

input{
    border: none;
    height: 20px;
    outline: none;
}