.post-item {
    list-style-type: none;
    margin-bottom: 30px;
    border-bottom: 3px solid #e4e4e4;
    width: 100%;
    padding: 10px 15px  30px 15px ;
}

.post-item-content {
    display: flex;
    align-items: center;
}

.post-item-img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-reactions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
}

.poster-sentace {
    margin: 5px auto;
}

.poster-name{
    margin-right: 8px;
}